@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a site for keeping track of the concerts you've been to.
        Add "/concerts" to the URL to view the table.
    </p>
</div>
