@page
@model RazorPagesMovie.Pages_Concerts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Concert</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Concert.Id" />
            <div class="form-group">
                <label asp-for="Concert.Artist" class="control-label"></label>
                <input asp-for="Concert.Artist" class="form-control" />
                <span asp-validation-for="Concert.Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concert.Date" class="control-label"></label>
                <input asp-for="Concert.Date" class="form-control" />
                <span asp-validation-for="Concert.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concert.Venue" class="control-label"></label>
                <input asp-for="Concert.Venue" class="form-control" />
                <span asp-validation-for="Concert.Venue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concert.Price" class="control-label"></label>
                <input asp-for="Concert.Price" class="form-control" />
                <span asp-validation-for="Concert.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
